* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    height: 150px;
    width: 100%;
    padding: 35px;
}

.wrapper .desktop-nav {
    display: none
}

.wrapper nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;

}
.wrapper nav ul li {
    font-size: 21px;
    font-family: "factoria", serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 10px;
    border-right: 1px solid white;
    color: #fff;
    white-space: nowrap;
}

  .mobile-logo-bar .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .mobile-logo-bar .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .mobile-logo-bar .menu-button-container {
    display: none;
    position: absolute;
    right: 35px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-logo-bar #menu-toggle {
    display: none;
  }
  
  .mobile-logo-bar .menu-button,
  .mobile-logo-bar .menu-button::before,
  .mobile-logo-bar .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .mobile-logo-bar .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .mobile-logo-bar .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  .mobile-logo-bar #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  .mobile-logo-bar #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  .mobile-logo-bar #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .mobile-logo-bar .menu-button-container {
    display: flex;
  }
  .mobile-logo-bar .menu {
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .mobile-logo-bar #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .mobile-logo-bar #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .mobile-logo-bar .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .mobile-logo-bar .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

.home a {
        text-decoration: none;
        color: #fff;
    }
.home a:hover  {
        color: #52a0cc;
        transition: color ease .5s;
}
.aboutme a {
        text-decoration: none;
        color: #fff;
    }
.aboutme a:hover  {
        color: #52a0cc;
        transition: color ease .5s;
}
.aboutme_header {
    display: flex;
    transform: skewY(-5deg);
    height: 100%;
    position: absolute;
    top: 64px;
    font-size: 40px;
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 20px;
    z-index: -1;
}
.aboutme_header h1 {
    margin: 0;
    background:linear-gradient(to bottom, #4eacd1 0px, #4eacd1 44px, #52a0cc 44px, #52a0cc 80px);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    justify-content: center;
}
.mywork a {
    text-decoration: none;
    color: #fff;
}
.mywork a:hover  {
    color: #52a0cc;
    transition: color ease .5s;
}
.contact a {
    text-decoration: none;
    color: #fff;
    }
.contact a:hover  {
    color: #52a0cc;
    transition: color ease .5s;
}
.wrapper nav ul li:last-child {
    border-right: none;
}
.logo {
    min-width: 52%;
}
.logo a .cls-1 {
    fill: rgb(255,255,255);
}
.logo a:hover .cls-1 {
    fill: #52a0cc;
    /* fill: rgb(9,93,134); */
    transition: fill ease .5s;
}
.header-container {
    transform: skewY(5deg) translateY(0%);
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    padding: 35px;
}
.redbox {
    background-color: #d34c4c;
    transform: skewY(-5deg) translateY(-200px);
    width: 100%;
    height: 300px;
    position:absolute;
    top: 0px;
    left: 0;
    z-index: 1;
}
.logo-bar {
    display: flex;
    flex-direction: row;
}
.bluebox {
    /*background: linear-gradient(to bottom, #ff7e5f 0%, #ff7e5f 50%, #feb47b 51%, #feb47b 100%);*/
    background: linear-gradient(to bottom, #4eacd1 0%, #4eacd1 50%, #52a0cc 51%, #52a0cc 100%);
    height: 35px;
    width: 100%;
}
main {
    margin-top: 70px;
}
.portfolio {
    display: flex;
    transform: skewY(5deg);
}
/*.portfolio:hover .cls-1 {
    fill: #d34c4c;
}*/
.aboutme_body {
    font-family: "factoria", serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 20px;
    color: #fff;
    display: flex;
    margin-top: 100px;
}
.aboutme_body p {
    font-size: 24px;
}
.aboutme_right {
    width: 40%;
}
/* .aboutme_right p a {
    text-decoration: none;
    color: #fff;
    z-index: 3;
} */
.phone a {
    font-size: 24px;
    font-family: "factoria", serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 10px;
    color: #fff;
    list-style: none;
    text-decoration: none; 
}
.phone a:hover {
    color: #52a0cc;
    transition: color ease .5s;
}
.email a {
    font-size: 24px;
    font-family: "factoria", serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 10px;
    color: #fff;
    list-style: none;
    text-decoration: none; 
}
.email a:hover {
    color: #52a0cc;
    transition: color ease .5s;
}
.insta a {
    font-size: 24px;
    font-family: "factoria", serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 10px;
    color: #fff;
    list-style: none;
    text-decoration: none; 
    z-index: 1000;
}
.insta a:hover {
    color: #52a0cc;
    transition: color ease .5s;
}
.twitter a {
    font-size: 24px;
    font-family: "factoria", serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 10px;
    color: #fff;
    list-style: none;
    text-decoration: none; 
}
.twitter a:hover {
    color: #52a0cc;
    transition: color ease .5s;
}
.aboutme_right ul {
    font-size: 24px;
    font-family: "factoria", serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 10px;
    color: #fff;
    list-style: none;
    text-decoration: none;
}
.aboutme_left {
    width: 55%;
    padding-left: 60px;
    padding-right: 300px;
}
.downloadarrow {
    position: absolute;
    max-width: 30px;
    background-color: #d34c4c;
}
.downloadarrow:hover .st0 {
    stroke: #52a0cc;
    transition: stroke ease .5s;
}
.mainbox {
    display: flex;
    background-color: #d34c4c;
    transform: skewY(-5deg);
    width: 95%;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 125px;
}
.closingbox {
    display: flex;
    background-color: #d34c4c;
    transform: skewY(5deg) translateY(50%);
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;

}
.gallery {
    display: flex;
    max-width: 100;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}
.gallery .gallery-item {
    width: 360px;
    height: 360px;
    opacity: 1;
    margin: 10px;
    position: relative;
    cursor: pointer;
}
.gallery img {
    width: 360px;
    height: 360px;
    opacity: 1;
    object-fit: cover;
    object-position: bottom;
    position: relative;
}
.gallery .gallery-item .gallery-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #fff;
    z-index: 100;
}
.gallery .gallery-item:hover .gallery-item-overlay {
    opacity: .5;
    transition: opacity ease-in .25s;
}
.endbox {
    display: flex;
    background-color: #4eacd1;
    height: 120px;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 20px;
}
.copyright {
    display: flex;
    width: 100%;
    height: 100%;
}
.copyright a {
    width: 50%;
    height: 60px;
}
.copyright .cls-1 {
fill: #fff;
margin: 0;
padding: 0;
}
/* fix margin and padding */
.copyright a:hover .cls-1 {
    fill: #d34c4c;
    transition: fill ease .5s;
}
.name {
    color: #52a0cc;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #bdefff00;
}

::-webkit-scrollbar-thumb {
    background-color: #4eacd1;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #bdefff00;
}
.container {
    max-width: 3024px;
    width: 90%;
    margin: auto;
    padding: 0;
}
.title {
    margin-bottom: 40px;
    width: 100%;
}
.photo-gallery {
    display: flex;
    gap: 20px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}
.photo img {
    height: auto;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
    gap: 20px;
    margin-bottom: 20px;
}
@media (min-width: 767px) {
    .wrapper .desktop-nav {
        display: block;
    }

    .logo-bar {
        display: flex;
        flex-direction: column;
    }

    .mobile-logo-bar {
        display: none;
    }
}

@media (min-width: 1200px) {
    .wrapper .desktop-nav {
       
    }

    .logo-bar {
        display: flex;
        flex-direction: row;
    }
    
}